@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
body {
  padding-top: 100px;
}
nav span{
  color: blue;
}
.navbar-text, .navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}
nav small{
  font-size: 1.25rem;
}
#cardPrincipal{
  font-size: 4rem;
  background-color: rgba(220, 53, 69, 0.8);
}
#telefonoNav, #telefonoNav span{
  font-size: 3.5rem;
  color: #dc3545;
}
#telefonoPrincipal{
  font-size: 3rem;
  font-weight: bold;
}
#provinciaPrincipal{
  font-size: 4rem;
}
#servicioTecnico{
  font-weight: bold;
}
.encabezado {
  color: white;
  font-size: 1.5rem;
}
.resaltado{
  font-weight: bold;
  color: yellow;
}
#textoPrincipal{
  font-size: 2.5rem;
}
.tituloSeccion{
  font-size: 2.5rem;
}
.imagenElectrodomestico {
  height: 250px;
}
.imagenCalidad {
  height: 350px;
}

@media (max-width: 1200px) {
  .imagenElectrodomestico {
    height: 200px;
  }
  .imagenCalidad {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .imagenElectrodomestico {
    height: 150px;
  }
  .imagenCalidad {
    height: 220px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 140px;
  }
  .imagenElectrodomestico {
    height: 120px;
  }
  .imagenCalidad {
    height: 250px;
  }
  .imagenElectrodomesticoFinal {
    height: 220px;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 140px;
  }
  .text-sm-center {
    text-align: center !important;
  }
  .imagenElectrodomestico {
    height: 100px;
  }
  .imagenCalidad {
    height: 200px;
  }
  .imagenElectrodomesticoFinal {
    height: 220px;
  }
}
